@model IEnumerable<carrent.Data.Rezervation>

@{
    ViewData["Title"] = "Index";
}
<center>
<h1>Reservations</h1>
</center>
<p>
    <a asp-action="Index" asp-controller="Home">Create New Reservations</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clieunts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegesterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.Cars.ImageUrl)" width="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clieunts.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegesterOn)
            </td>
           
        </tr>
}
    </tbody>
</table>
