@model IEnumerable<carrent.Data.Rezervation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clieunts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegesterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clieunts.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegesterOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
