@using carrent.Data;
@model IEnumerable<carrent.Data.Car>

@{
    ViewData["Title"] = "Index";
}

<style>
    a:link {
        text-decoration: none;
    }


    a:visited {
        text-decoration: none;
    }


    a:hover {
        text-decoration: none;
    }


    a:active {
        text-decoration: none;
    }
    
    .div_naiprodavani-container {
        display: flex;
        flex-wrap: wrap;
    }

    .div_naiprodavani {
        flex: 0 0 300px; /* Adjust the width as needed */
        margin-right: 30px; /* Add spacing between elements */
        margin-bottom: 10px; /* Add spacing below elements */
    }

 .img{
     height:250px;
     width:250px;
 }


   

    .img-with-text {
        text-align: center;
        color: #ccccaa;
    }

        .img-with-text img {
            display: block;
            margin:auto;
        }

    .div_div {
        background-color: rgba(68,68,68,.6);
        
    }
</style>
@{
    if (User.IsInRole("Admin"))
    {
        <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandModels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegesterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandModels.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100" >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegesterOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
        </tbody>
        </table>
    }
    <br />
}


  <div class="div_naiprodavani-container">
    @foreach (var item in Model)
    {

        <div class="div_naiprodavani">
           <a asp-action="Create" asp-controller="Rezervations" asp-route-carId="@item.Id">

                <div class="img-with-text">
                    <div class="div_div">
                        <center>
                            <img class="img" src="@Html.DisplayFor(modelItem => item.ImageUrl)">
                            <p>@Html.DisplayFor(modelItem => item.BrandModels.Brand) @Html.DisplayFor(modelItem => item.BrandModels.Model)</p>
                            <p>@Html.DisplayFor(modelItem => item.Price)$/h свободна:@Html.DisplayFor(modelItem => item.Status)</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
    }
    
    </div>


        
          

        
    

