@using carrent.Data;
@model IEnumerable<carrent.Data.Car>

@{
    ViewData["Title"] = "Index";
}

<style>
    footer{
    margin-top: auto;
}
    }
  body{
        display: flex;
  }


   .div_naiprodavani{
    display:flex;
    margin-right:auto;
    margin :80px 0px;
}
.img-with-text {
    text-align: center;
    color: #ccccaa;
   
    
}

    .img-with-text img {
        display: block;
        margin: 0 200px;
    }
.div_div {
    
    background-color: rgba(68,68,68,.6);
    margin:0 4px;
    
}
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandModels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegesterOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandModels.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100" >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegesterOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            
        <div class="div_naiprodavani">

            <a href="Game.html">
                <div class="img-with-text">
                    <div class="div_div">
                        <center>
                                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="500">
                                <p>@Html.DisplayFor(modelItem => item.BrandModels.Brand)</p>
                                <p>@Html.DisplayFor(modelItem => item.Price)$/h свободна:@Html.DisplayFor(modelItem => item.Status)</p>
                        </center>
                    </div>
                </div>
            </a>
         </div>
          

        }
    </tbody>
</table>

